body{
    background-color: brown;
    color: black;
}
header{
    background-color: brown;
    color: black;
}
main{
    background-color: brown;
    color: black;
}
section{
    background-color: brown;
    color: black;
}
footer{
    background-color: brown;
    color: black;
}