body{
    background-color: brown;
    color: black;
}
header{
    background-color: brown;
    color: black;
}
h1{
    font: size 36px;
}
h2{
    color: rgb(24, 9, 9);
}
p{
    font-size: 18px;
    line-height: 1.6;
}